.main {
	background-image: url('/static/img/landing.jpg');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.main .main-content {
    height:750px;
    padding-top:550px;
    left:30px
}

.main .main-content .login-item {
    margin-top:10px;
}
